## In this notebook two csv datasets are taken from kaggle and is converted into sql tables

## Data source
### Video_Stats : [Link](https://www.kaggle.com/datasets/advaypatil/youtube-statistics?select=videos-stats.csv)
### Comment_data: [Link](https://www.kaggle.com/datasets/advaypatil/youtube-statistics?select=comments.csv)

### For this first we read the csv files using the python library "pandas" ansd store it into a seperate dataframe as shown below

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('D:\\Data analyst\\youtubedata\\datasets\\videos-stats.csv')
df

,Title,Video_ID,Published_At,Keyword,Likes,Comments,Views
0,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022-08-23,tech,3407.0,672.0,135612.0
1,The most EXPENSIVE thing I own.,b3x28s61q3c,2022-08-24,tech,76779.0,4306.0,1758063.0
2,My New House Gaming Setup is SICK!,4mgePWWCAmA,2022-08-23,tech,63825.0,3338.0,1564007.0
3,Petrol Vs Liquid Nitrogen | Freezing Experimen...,kXiYSI7H2b0,2022-08-23,tech,71566.0,1426.0,922918.0
4,Best Back to School Tech 2022!,ErMwWXQxHp0,2022-08-08,tech,96513.0,5155.0,1855644.0
...,...,...,...,...,...,...,...
1876,Should You Learn Machine Learning?,AO6urf07KjE,2021-06-14,machine learning,10259.0,416.0,386360.0
1877,Todos podemos aprender Machine learning,7ClLKBUvmRk,2017-10-08,machine learning,2981.0,72.0,431421.0
1878,"Andrew Ng: Deep Learning, Education, and Real-...",0jspaMLxBig,2020-02-20,machine learning,5198.0,443.0,226152.0
1879,What is Machine Learning?,f_uwKZIAeM0,2017-01-11,machine learning,NaN,NaN,NaN
1880,Don&#39;t learn machine learning,cyLWtMSry58,2020-03-30,machine learning,NaN,NaN,NaN

### Then we clean the datasets inorder to remove any missing,null or duplicate values from the dataframe

In [3]:
df=df.fillna(0)
df

,Title,Video_ID,Published_At,Keyword,Likes,Comments,Views
0,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022-08-23,tech,3407.0,672.0,135612.0
1,The most EXPENSIVE thing I own.,b3x28s61q3c,2022-08-24,tech,76779.0,4306.0,1758063.0
2,My New House Gaming Setup is SICK!,4mgePWWCAmA,2022-08-23,tech,63825.0,3338.0,1564007.0
3,Petrol Vs Liquid Nitrogen | Freezing Experimen...,kXiYSI7H2b0,2022-08-23,tech,71566.0,1426.0,922918.0
4,Best Back to School Tech 2022!,ErMwWXQxHp0,2022-08-08,tech,96513.0,5155.0,1855644.0
...,...,...,...,...,...,...,...
1876,Should You Learn Machine Learning?,AO6urf07KjE,2021-06-14,machine learning,10259.0,416.0,386360.0
1877,Todos podemos aprender Machine learning,7ClLKBUvmRk,2017-10-08,machine learning,2981.0,72.0,431421.0
1878,"Andrew Ng: Deep Learning, Education, and Real-...",0jspaMLxBig,2020-02-20,machine learning,5198.0,443.0,226152.0
1879,What is Machine Learning?,f_uwKZIAeM0,2017-01-11,machine learning,0.0,0.0,0.0
1880,Don&#39;t learn machine learning,cyLWtMSry58,2020-03-30,machine learning,0.0,0.0,0.0

In [4]:
df=df.drop_duplicates(subset='Video_ID')
df

,Title,Video_ID,Published_At,Keyword,Likes,Comments,Views
0,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022-08-23,tech,3407.0,672.0,135612.0
1,The most EXPENSIVE thing I own.,b3x28s61q3c,2022-08-24,tech,76779.0,4306.0,1758063.0
2,My New House Gaming Setup is SICK!,4mgePWWCAmA,2022-08-23,tech,63825.0,3338.0,1564007.0
3,Petrol Vs Liquid Nitrogen | Freezing Experimen...,kXiYSI7H2b0,2022-08-23,tech,71566.0,1426.0,922918.0
4,Best Back to School Tech 2022!,ErMwWXQxHp0,2022-08-08,tech,96513.0,5155.0,1855644.0
...,...,...,...,...,...,...,...
1876,Should You Learn Machine Learning?,AO6urf07KjE,2021-06-14,machine learning,10259.0,416.0,386360.0
1877,Todos podemos aprender Machine learning,7ClLKBUvmRk,2017-10-08,machine learning,2981.0,72.0,431421.0
1878,"Andrew Ng: Deep Learning, Education, and Real-...",0jspaMLxBig,2020-02-20,machine learning,5198.0,443.0,226152.0
1879,What is Machine Learning?,f_uwKZIAeM0,2017-01-11,machine learning,0.0,0.0,0.0
1880,Don&#39;t learn machine learning,cyLWtMSry58,2020-03-30,machine learning,0.0,0.0,0.0

In [5]:
df2=pd.read_csv('D:\\Data analyst\\youtubedata\\datasets\\comments.csv')
df2

,ID,Video_id,Comment,Likes,Sentiment
0,0,wAZZ-UWGVHI,Let's not forget that Apple Pay in 2014 requir...,95,1
1,1,wAZZ-UWGVHI,Here in NZ 50% of retailers don’t even have co...,19,0
2,2,wAZZ-UWGVHI,I will forever acknowledge this channel with t...,161,2
3,3,wAZZ-UWGVHI,Whenever I go to a place that doesn’t take App...,8,0
4,4,wAZZ-UWGVHI,"Apple Pay is so convenient, secure, and easy t...",34,2
...,...,...,...,...,...
18404,18404,cyLWtMSry58,I really like the point about engineering tool...,0,2
18405,18405,cyLWtMSry58,I’ve just started exploring this field. And th...,20,2
18406,18406,cyLWtMSry58,Excelente video con una pregunta filosófica pr...,1,1
18407,18407,cyLWtMSry58,"Hey Daniel, just discovered your channel a cou...",35,2
18408,18408,cyLWtMSry58,This is great. Focus is key. A playful approac...,0,2

In [6]:
df2=df2.fillna(0)
df2

,ID,Video_id,Comment,Likes,Sentiment
0,0,wAZZ-UWGVHI,Let's not forget that Apple Pay in 2014 requir...,95,1
1,1,wAZZ-UWGVHI,Here in NZ 50% of retailers don’t even have co...,19,0
2,2,wAZZ-UWGVHI,I will forever acknowledge this channel with t...,161,2
3,3,wAZZ-UWGVHI,Whenever I go to a place that doesn’t take App...,8,0
4,4,wAZZ-UWGVHI,"Apple Pay is so convenient, secure, and easy t...",34,2
...,...,...,...,...,...
18404,18404,cyLWtMSry58,I really like the point about engineering tool...,0,2
18405,18405,cyLWtMSry58,I’ve just started exploring this field. And th...,20,2
18406,18406,cyLWtMSry58,Excelente video con una pregunta filosófica pr...,1,1
18407,18407,cyLWtMSry58,"Hey Daniel, just discovered your channel a cou...",35,2
18408,18408,cyLWtMSry58,This is great. Focus is key. A playful approac...,0,2

In [7]:
df2=df2.drop_duplicates(subset=['Video_id','Comment'])
df2

,ID,Video_id,Comment,Likes,Sentiment
0,0,wAZZ-UWGVHI,Let's not forget that Apple Pay in 2014 requir...,95,1
1,1,wAZZ-UWGVHI,Here in NZ 50% of retailers don’t even have co...,19,0
2,2,wAZZ-UWGVHI,I will forever acknowledge this channel with t...,161,2
3,3,wAZZ-UWGVHI,Whenever I go to a place that doesn’t take App...,8,0
4,4,wAZZ-UWGVHI,"Apple Pay is so convenient, secure, and easy t...",34,2
...,...,...,...,...,...
18404,18404,cyLWtMSry58,I really like the point about engineering tool...,0,2
18405,18405,cyLWtMSry58,I’ve just started exploring this field. And th...,20,2
18406,18406,cyLWtMSry58,Excelente video con una pregunta filosófica pr...,1,1
18407,18407,cyLWtMSry58,"Hey Daniel, just discovered your channel a cou...",35,2
18408,18408,cyLWtMSry58,This is great. Focus is key. A playful approac...,0,2

### After loading the datasets from pandas we connect to the sql database using following commands

In [8]:
 import MySQLdb as sql

In [9]:
   conn=sql.connect(
    user='root',
    password='root',
    port=3306,
    database='youtubeanalysis'
    )
cursor=conn.cursor()

### Then we create a new sql table for the first dataframe (df1) and insert all the dataframe values in the newly created sql table as shown below:

In [10]:
cursor.execute("""CREATE TABLE videos_stats(Title VARCHAR(200),
               Video_Id VARCHAR(50),
               Published_at DATE,
               Keyword VARCHAR(50),
               likes FLOAT,
               Comments FLOAT,
               Views FLOAT
              )""")
conn.commit()

In [11]:
for row in df.itertuples():
    cursor.execute("""insert into videos_stats(Title,Video_Id,Published_at,Keyword,likes,Comments,Views)VALUES(%s,%s,%s,%s,%s,%s,%s)""",
                  (row.Title,row.Video_ID,row.Published_At,row.Keyword,row.Likes,row.Comments,row.Views)
                  )
    
    conn.commit()

### Similarly we create another table for the second dataframe(df2) and insert all its values in the new table as shown below:

In [12]:
cursor.execute("""create table Comment_data(
Video_id Varchar(50),
Comment longtext,
Likes int,
Sentiment int
)""")

0

In [13]:
for row in df2.itertuples():
    cursor.execute("""insert into Comment_data(Video_id,Comment,Likes,Sentiment)Values(%s,%s,%s,%s)""",(row.Video_id,row.Comment,row.Likes,row.Sentiment))
    
conn.commit()

### Now the tables has been created, we use a seperate notebook(youtubedata_analysis) to load the tables and perform further anlaysis on the table .